body{
  background-color: rgb(214, 199, 166);
}

.profile{
  position: relative;
  left: 680px;
}

h1{
font-family: 'Sono', sans-serif;
text-align: center;
}

h2{
  font-family: 'Sono', sans-serif;
  text-align: center;
}
h4{
  font-family: 'Sono', sans-serif;
  text-align: center;
}

.bio{
  font-family: 'Sono', sans-serif;
  text-align: center;
}
ul{
  font-family: 'Sono', sans-serif;
  margin-left: 550px;
}

p{
  font-family: 'Sono', sans-serif;
}

.testimonial {
    border: 2px solid #ccc;
    background-color: #eee;
    border-radius: 5px;
    padding: 16px;
    margin: 16px 0;
    font-family: 'Sono', sans-serif;
  }
  
  .testimonial::after {
    content: "";
    clear: both;
    display: table;
    font-family: 'Sono', sans-serif;
  }
  
  .testimonial img {
    float: left;
    margin-right: 20px;
    border-radius: 50%;
  }
 
  
  @media (max-width: 500px) {
    .container {
      text-align: center;
      font-family: 'Sono', sans-serif;
    }
  
    .testimonial img {
      margin: auto;
      float: none;
      display: block;
    }
  }
  * {
    box-sizing: border-box;
  }
  
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #049faa;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
   .contact {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
    margin-top: 100px;
  }
  h6{
    font-family: 'Sono', sans-serif;
    text-align: center;
  }